<!DOCTYPE html>
<html>
<head>
    <title>使用Ajax请求</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>使用Ajax请求获取数据</h1>
    <input type="text" id="inputText" placeholder="输入字符串">
    <button id="submitText">提交</button>
    <div id="response"></div> 
    <p>段落测试。</p>
    <script>
        $(document).ready(function () {
            $("#submitText").click(function () {
                var userInput = $("#inputText").val();

                $.ajax({
                    type: "POST",  // 使用POST请求
                    url: "/api/submit",
                    data: JSON.stringify({ text: userInput }),  // 发送用户输入作为JSON数据
                    contentType: "application/json",
                    success: function (data) {
                        $("#response").html("服务器响应: " + data.message);
                    },
                    error: function (error) {
                        $("#response").html("出错了：" + error.statusText);
                    }
                });
            });
        });
    </script>
</body>
</html>
